<header class="FlyNet">
  <a href="#" class="logo"></a>
  <nav class="nav-items">
    <a href="#"> <img src="https://i.postimg.cc/BbjyF8tb/logo1.png" width="60" height="60" alt=""> 
      FlyNet</a> 

    
    <style>
      .button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
      
      
      .button2 {
        background-color:white; 
        color: black; 
        border: 1px solid #67b7da;
      }
      
      .button2:hover {
        background-color: #008CBA;
        color: white;
      }
      
      
      
      
      </style>
    
    <button class="button button2"> Log in / Sign up </button>

  </nav>
</header>

&nbsp;&nbsp;   

<main>
  <div class="intro">
    <div class="wrapper bg-white">
      <h1>Insert Booking form</h1>
  
  </div>
  
    
  </div>

  
       <!--<img src="https://www.kindpng.com/picc/m/206-2068651_airplane-fly-white-mint-blue-tourist-traffic-airplane.png" alt="Airplane, Fly, White, Mint, Blue, Tourist, Traffic - Airplane Clipart Transparent Background, HD Png Download@kindpng.com"> 
      <div class="container"> //--->
        &nbsp;&nbsp;   

<body>
  
  
        
        <div class="leftdiv">
          <h2 style="color:rgb(67, 118, 235);">About</h2>
        <p  style="color:black;"> <b>We come together each day to fulfill a promise of offering the single most comprehensive travel experience to users, through award-winning Mobile and Desktop solutions. With intuitive products that have the largest selection of flights and hotels, we keep customers at the center of everything we do.</b>


       </p>
       <h2 style="color:rgb(67, 118, 235);">Behind the screens</h2>
          <p><b>Our leadership team is an eclectic mix, that is driven by values important to us. Their constant endeavor is to keep innovating and provide a best-in-class customer experience.</b>


       </p>
       
       <h2 style="color:rgb(67, 118, 235);"> Requirement for booking of flight</h2>
       
          <p><b>To fly domestically, you will need any recognised form of identification like a driver's license, international passport, voter's card, NYSC ID card, work ID card, etc. Please note that your means of identification will have to be valid for the dates you intend to fly </b>
          </p>
       </div>

       
      
    </body>
    
    


    &nbsp;&nbsp; 
        <div class="bg-white p-relative w-100p px-2 pt-15">
          <div class="container pl-0 pr-0 c-pointer">
            <div style="max-width: 1100px; margin: 0px auto;">
              <div style="display: flex; margin: 0px;">
                <div style="width: 33.3333%; margin-right: 0px;"><span>
                  <div style="display: flex;"><img loading="eager" src="https://fastui.cltpstatic.com/image/upload/w_176,e_blur:1000,c_scale,q_1,f_auto/offermgmt/images/BBD/FLIGHTS_BSB_CTUPI_01102022.png" alt="" width="100%" style="visibility: hidden;">
                    <img loading="lazy" src="https://fastui.cltpstatic.com/image/upload/f_auto/offermgmt/images/BBD/FLIGHTS_BSB_CTUPI_01102022.png" alt="" width="100%" style="visibility: visible; margin-left: -130%;"></div></span></div>
                    <div style="width: 33.3333%; margin-right: 16px;"><span><div style="display: flex;"><img loading="eager" src="https://fastui.cltpstatic.com/image/upload/w_176,e_blur:1000,c_scale,q_1,f_auto/offermgmt/images/BBD/FLIGHTS_BSB_YESNB_02102022.png" alt="" width="100%" style="visibility: hidden;">
                      <img loading="lazy" src="https://fastui.cltpstatic.com/image/upload/f_auto/offermgmt/images/BBD/FLIGHTS_BSB_YESNB_02102022.png" alt="" width="100%" style="visibility: visible; margin-left: -100%;"></div></span></div><div style="width: 33.3333%;"><span>
                        <div style="display: flex;"><img loading="eager" src="https://fastui.cltpstatic.com/image/upload/w_176,e_blur:1000,c_scale,q_1,f_auto/offermgmt/images/BBD/FLIGHTS_BSB_BOB_01102022.png" alt="" width="100%" style="visibility: hidden;">
                          <img loading="lazy" src="https://fastui.cltpstatic.com/image/upload/f_auto/offermgmt/images/BBD/FLIGHTS_BSB_BOB_01102022.png" alt="" width="100%" style="visibility: visible; margin-left: -20%;">
                        </div></span></div></div></div></div></div>       
                        &nbsp;&nbsp; 


                        <div class="about-me">
                          <div class="about-me-text">
                            <h2>Flight Booking FAQs
                
                            </h2>
                            
                          </div>
                        </div>
                        <div class="active"><p class="active"><b>What are the advantages of online flight booking?</b>&nbsp;</p><div class="sc-vqihtk-4 kznRRI active">
                          <p>Through online air ticket booking you can easily compare prices of multiple airlines to get your air tickets at lowest rates. Also, it is easy to do <a href="http://localhost:4200/">online flight booking</a> as multiple payment options are available on websites like FlyNet.</p>
                        </div></div>
                        <div class="active"><p class="active"><b>When should I book to get best flight ticket prices?</b>&nbsp;</p>
                          <div class="active">For best flight ticket prices and flight ticket offers, it is recommended to book at least 3 to 4 weeks in advance for domestic air tickets. For international flight ticket it is recommended to book at least 7 to 8 weeks in advance, so that you can get the best flight ticket prices.

                          </div></div>
                        <div class="active"><p class="active"><b>How can I book flight tickets online?</b>&nbsp;</p>
                          <div class="active"><p>With the help of FlyNet, you can easily book both domestic flight tickets and <a href="http://localhost:4200/">international air tickets</a> in simple steps within a few seconds.</p>
                        </div></div>
                        <div class="active"><p class="active"><b>Why should I make a flight booking from FlyNet?</b>&nbsp;</p>
                          <div class=" active"><p>Along with an easy flight booking process, <a href="http://localhost:4200/">FlyNet offers</a> various discounts, instant EMI options and credit/ debit card related offers on flight booking. By availing such benefits, you can book air tickets at reasonable prices.</p>
                          </div></div>
                        <div class="active"><p class="active"><b>In how much time, my flight booking will get confirmed?</b>&nbsp;</p>
                          <div class="active">After completing the air ticket booking process on FlyNet, you will get an instant confirmation mail and a message on the registered number and email id respectively.

                          </div></div>
                    
                  
       <!--      <div><a href="/hotels/results?city=Goa&amp;state=Goa&amp;country=IN&amp;dest_code=37264&amp;adults1=2&amp;children1=0&amp;num_rooms=1&amp;adults=2&amp;childs=0&amp;chk_in=05/10/2022&amp;chk_out=06/10/2022" class="td-none" target="_blank">
                          <div class="br-8 o-hidden p-relative"><div class="d-inline-block p-relative" style="width: 184px; height: 235px;">
                            <div class="d-inline-block p-absolute t-0 b-0 l-0 r-0" style="width: 184px; height: 235px;"><img src="https://fastui.cltpstatic.com/image/upload/w_176,h_178,f_auto,q_auto,c_fill,e_sharpen:80,g_auto,fl_progressive/hotels/places/cities/images/Goa_2000_1328.png" width="184px" height="235px" class="of-cover"></div>
                            <div class="h-100p" style="opacity: 0;"><div class="d-inline-block bg-grey-05 t-0 b-0 l-0 r-0 ta-center p-relative" style="width: 184px; height: 235px; color: rgb(199, 199, 199); z-index: 2;">
                              <div class="flex flex-center flex-middle Stencil has-shimmer" style="width: 184px; height: 235px;"><div><svg viewBox="0 0 100 100" class="current-fill" width="40px" height="40px"><path fill-rule="evenodd" d=""></path></svg></div></div></div></div></div>
                              <div class="imgGrad"><p class="" style="top: 65%;">Goa</p><p class="" style="top: 77%;">3051 Properties</p></div></div><div class="m-0 mt-0 mb-0 ml-0 mr-0 mx-0 my-0 pt-2" style="height: 1px; width: 1px;"></div></a></div>  //--->
                        
       
    
</main>











&nbsp;&nbsp; 
<div class="footer-dl"><div><ul><li><b>Popular Flight Sectors</b><li><a href="">Kolkata to Delhi Flight  |</a><a href="">Hyderabad to Delhi Flight  |</a><a href="">Chennai to Hyderabad Flight  |</a><a href="">Delhi to Guwahati Flight  |</a><a href="">Lucknow to Delhi Flight  |
  
</a><a href="">Nagpur to Mumbai Flight  |</a><a href="">Ranchi to Delhi Flight  |</a><a href="">Ahmedabad to Goa Flight  |</a><a href="">Mumbai to Chandigarh Flight  |</a><a href="">Pune to Kolkata Flight  |</a><a href="">Bangalore to Bhubaneshwar Flight  |</a><a href="">Bangalore to Guwahati Flight  |
  
</a><a href="">Chennai to Goa Flight  |</a><a href="">Chennai to Kolkata Flight  |</a><a href="">Delhi to Jaipur Flight  |</a><a href="">Delhi to Leh Flight  |</a><a href="">Hyderabad to Goa Flight  |</a><a href="">Bangalore to Ranchi Flight  |</a><a href="">Delhi to Bagdogra Flight  |</a><a href="">Srinagar to Delhi Flight 

</a></li></ul><ul><li>

  &nbsp;&nbsp; 





  <footer class="footer">
  <div class="copy">&copy; Fly Through Net</div>
  <div class="bottom-links">
    <div class="links">
      <span>More Info</span>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="links">
      <span>Social Links</span>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <a href="facebook.com/FlyNet"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/facebook?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  
  
</footer>